
* {
    color: white;
}

body {
    background-color: #282828;
}

h1 {
    display: inline-block;
}

header {
    background-color: #3c3c3c;
}

header nav a:hover, .user-account-btn:hover {
    background-color: #4c4c4c;
}

button {
    color: #ddd;
    background-color: #3c3c3c;
    border: 1px solid #5c5c5c;
}

button:hover {
    background-color: #4c4c4c;
    border-color: #6c6c6c;
    color: #fff;
}

button:active {
    background-color: #5c5c5c;
    border-color: #7c7c7c;
}

.segmented-control input[type="radio"]:disabled + label {
  background-color: #555555;
  color: #999999;
  border-color: #777777;
}


input {
    color: black;
}



.dark-text-input {
    background-color: #4c4c4c;
    color: white;
}

.dark-text-input::placeholder {
    color: lightgray;
}

select {
    background-color: #4c4c4c;
}

.standout-bg {
    background-color: #3c3c3c;
    padding: 10px;
}


.segmented-control {
    border: 1px solid #555;
}

.segmented-control label {
	background-color: #3c3c3c;
    color: #ccc;
	border-right: 1px solid #555;
}

.segmented-control label:hover {
    background-color: #4c4c4c;
    color: #fff;
}

.segmented-control input[type="radio"]:checked + label {
	background-color: #5c5c5c;
	color: #fff;
}


table tbody tr:hover {
    background-color: #3c3c3c;
}


