
* {
    color: white;
}

body {
    background-color: #282828;
}

h1 {
    display: inline-block;
}

header {
    background-color: #3c3c3c;
}

header nav a:hover, .user-account-btn:hover {
    background-color: #4c4c4c;
}

button {
    color: white;
    background-color: #3c3c3c;
}

input {
    color: black;
}



.dark-text-input {
    background-color: #4c4c4c;
    color: white;
}

.dark-text-input::placeholder {
    color: lightgray;
}

select {
    background-color: #4c4c4c;
}


