
body {
    margin: 0px;
}

main {
    margin: 30px;
}

header {
    padding: 20px;
}

header h1 {
    margin: 0px;
}

header nav {
    text-align: center;
}

header nav a, .user-account-btn {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    text-decoration: none;
}

button {
    margin-left: 15px;
    padding: 5px 10px;
}

textarea {
    box-sizing: border-box;
    width: calc(100% - 10px);
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}

.user-account-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

form.account-input {
    margin-bottom: 50px;
}

form.account-input input {
    display: block;
    margin-bottom: 10px;
    min-width: 250px;
}

form.account-input button {
    margin-top: 15px;
}


#review-table th {
    text-align: right;
}

#review-table td {
    padding-left: 10px;
}

#review-table * {
    padding: 2px;
}






.segmented-control {
	display: inline-flex;
	border-radius: 6px;
	overflow: hidden;
}


.segmented-control input[type="radio"] {
	display: none;
}

.segmented-control label {
	padding: 8px 16px;
	cursor: pointer;
	user-select: none;
	transition: background-color 0.2s, color 0.2s;
}

.segmented-control label:last-child {
	border-right: none;
}

.segmented-control input[type="radio"]:checked + label {
	font-weight: bold;
}


.segmented-control input[type="radio"]:disabled + label {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

