{% extends "base.html" %}

{% block body %}
    <h1>Projects</h1>
    <p>Manage projects in this page.</p>

    <br/>
    
    <form action="/projects" method="POST">
        <input type="text" name="project" placeholder="New Project Name" required/>
        <button type="submit">Add Project</button>
    </form>

    <br/>

    <table>
        <tr>
            <th>Project</th>
            <th>Action</th>
        </tr>

        {% for project in projects %}
        
        <tr>
            <td>{{ project.name }}</td>
            <td>
                <form action="/projects/{{ project.project_id }}/rename" method="POST">
                    <button>Rename</button>
                </form>

                <form action="/projects/{{ project.project_id }}/delete" method="POST">
                    <button>Delete</button>
                </form>

            </td>
        </tr>
        {% endfor %}
        
    </table>

{% endblock %}
