{% extends "base.html" %}

{% block body %}
    <h1>Projects</h1>
    <p>Manage projects in this page.</p>

    <br/>
    
    <form action="/projects" method="POST">
        <input class="dark-text-input" type="text" name="project" placeholder="New Project Name" required/>
        <button type="submit">Add Project</button>
    </form>

    <br/>

    <table>
        <tr>
            <th>Project</th>
            <th>Action</th>
        </tr>

        {% for project in projects %}
        
        <tr>
            <td>
                <form id="rename-project-{{ project.project_id }}" action="/projects/{{ project.project_id }}/rename" method="POST">
                    <input class="dark-text-input" type="text" name="name" value="{{ project.name }}" required>
                </form>
            </td>
            
            <td>
                <button type="submit" form="rename-project-{{ project.project_id }}">Rename</button>

                <form action="/projects/{{ project.project_id }}/delete" method="POST">
                    <button>Delete</button>
                </form>

            </td>
        </tr>
        {% endfor %}
        
    </table>

{% endblock %}


{% block style %}

<style>
    tr td form {
        display: inline-block;
    }

</style>

{% endblock %}