{% extends "base.html" %}

{% block body %}
    <h1>Review #{{ review.review_id }}</h1>
    <p>See review details.</p>

    <br/>
    
    <div class="standout-bg">
        <table id="review-table">
            <tr>
                <th>Status</th>
                <td>{{ StatusTypes.name(current_review_status) }}</td>
            </tr>
            <tr>
                <th>Project</th>
                <td>{{ review.project.name }}</td>
            </tr>
            <tr>
                <th>Branch</th>
                <td>{{ review.branch }}</td>
            </tr>
            <tr>
                <th>Head Commit</th>
                <td>{{ review.head_commit }}</td>
            </tr>
            <tr>
                <th>Base Commit</th>
                <td>{{ review.base_commit }}</td>
            </tr>
            <tr>
                <th>ERS Number</th>
                <td>#{{ review.ers_number }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ review.author.f_name }} {{ review.author.s_name }}</td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>{{ review.created_at.strftime('%d-%b-%Y') }}</td>
            </tr>
            
        </table>
    </div>

    <br/>


    <div class="standout-bg">

        <form action="/reviews/{{ review.review_id }}/update" method="POST">
            <div class="segmented-control">

                {% for button in buttons %}

                <input type="radio" name="status" id="{{ button.text }}" value="{{ button.value }}"
                {% if current_review_status == button.value %}
                checked
                {% elif not button.enabled %}
                disabled
                {% endif %}
                >
                <label for="{{ button.text }}">{{ button.display_text }}</label>
                {% endfor %} 
            </div>

            <div>
                <textarea class="dark-text-input" name="notes" rows="7" placeholder="Enter any additional notes here..."></textarea>
            </div>
            

            <button type="submit" style="margin-top: 15px;">Submit Change</button>

        </form>
    </div>
        
        
    <br/>
    
    {% for status in statusList %}

        <div class="standout-bg" style="margin-top: 20px;">

            <div>
                <span>{{ status.modified_at.strftime('%d-%b-%Y') }}</span>
                <span> - </span>
                <span>{{ status.actors.f_name }} {{ status.actors.s_name }}</span>
            </div>

            <div>
                Status: {{ StatusTypes.name(status.status) }}
            </div>

            <div style="margin-top: 10px;">
                <div>{{ status.notes }}</div>
            </div>

        </div>

    {% endfor %}


{% endblock %}


{% block style %}
{% endblock %}